[project]
	description = Puppet modules to deploy MidoNet on top of OpenStack.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jaume Devesa (jdevesa)
[access "refs/for/refs/*"]
	read = group user/Jaume Devesa (jdevesa)
	push = group user/Jaume Devesa (jdevesa)
	label-Code-Review = -2..+2 group user/Jaume Devesa (jdevesa)
	label-Verified = -1..+1 group user/Jaume Devesa (jdevesa)
	rebase = group user/Jaume Devesa (jdevesa)
	removeReviewer = group user/Jaume Devesa (jdevesa)
	submit = group user/Jaume Devesa (jdevesa)
[access "refs/heads/*"]
	read = group user/Jaume Devesa (jdevesa)
	create = group user/Jaume Devesa (jdevesa)
	push = +force group user/Jaume Devesa (jdevesa)
	pushMerge = group user/Jaume Devesa (jdevesa)
[access "refs/tags/*"]
	push = +force group user/Jaume Devesa (jdevesa)
	pushTag = group user/Jaume Devesa (jdevesa)
	pushSignedTag = group user/Jaume Devesa (jdevesa)
[receive]
	requireSignedOffBy = false
	requireChangeId = true
	createNewChangeForAllNotInTarget = false
