[project]
	description = Puppet modules to deploy MidoNet on top of OpenStack.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group midonet-admins
	owner = group user/Jaume Devesa (jdevesa)
[access "refs/heads/*"]
	read = group user/Jaume Devesa (jdevesa)
	create = group user/Jaume Devesa (jdevesa)
	push = +force group user/Jaume Devesa (jdevesa)
	pushMerge = group user/Jaume Devesa (jdevesa)
[access "refs/tags/*"]
	push = +force group user/Jaume Devesa (jdevesa)
	pushTag = group user/Jaume Devesa (jdevesa)
	pushSignedTag = group user/Jaume Devesa (jdevesa)
[receive]
	requireSignedOffBy = false
	requireChangeId = true
	createNewChangeForAllNotInTarget = false
[access "refs/drafts/*"]
	read = group Registered Users
	push = group Registered Users
